.sjisocialconnect_box {
    list-style: none;
}
.sjisocialconnect_box.vertical {
    height: 68px;
}

.sjisocialconnect_box .sjisocialconnect-widget {
    margin: 0 4px 0 0;
    padding: 0;
    overflow: hidden;
    float: left;
    width: 100%;
}

.sjisocialconnect_box .sjisocialconnect-widget.last {
    margin-right: 0;
}

.sjisocialconnect_box.vertical .sjisocialconnect-widget {
    width: 58px;
    height: 62px;
}

.sjisocialconnect_box.vertical .sjisocialconnect-widget.sjisocialconnect-widget-googleplus {
    width: 52px;
}

.sjisocialconnect_box.vertical .sjisocialconnect-widget.sjisocialconnect-widget-facebook {
    width: 50px;
}